nav{
    background-color: black;
    color: white;
    padding: 15px;
    
}
ul,li,h1{
    display: inline;
}
ul{
    margin-left: 80%;
}
li{
    color: white;
    cursor: pointer;
}
li:hover{
    color: gray;
}
.products{
    width: 100%;
  height: 150px;
  gap: 10px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 3.5%;
}
.box img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border: 1px solid black;
  
  margin-top: 15px;
}
.box {
   
  width:500px;
  text-align: center;
}
.buttons{
    position: relative;
    left: 50%;
    top: 1100px;
    display: block;
}
